@{
    ViewData["Title"] = "Create new Milestone Rule";
}

<h1>Configure Milestone Email Distribution</h1>

@*@using (Html.BeginForm("Upload", "EmailEngine"))
{*@
<form method="post" enctype="multipart/form-data" asp-controller="EmailEngine" asp-action="UploadFiles">
    <div class="row">
        <label>Upload Schedule Tracker Here</label>
        <div class="form-group">
            <input class="row" type="file" name="files" />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </div>
    <div class="row">
        <h3>Select Launch Date Range <small>inclusive</small></h3>
        <div class="row">
            <label>Start Date</label>
            <div class="input-group date">
                <input name="startDate" type="text" class="form-control datepicker">
            </div>
        </div>
        <div class="row">
            <label>End Date</label>
            <div class="input-group date">
                <input name="endDate" type="text" class="form-control datepicker">
            </div>
        </div>
    </div>
</form>
    @*< div class="row">
        <div class="col-md-6 col-md-offset-2">
            <label>Name</label>
            <div class="form-group">
                <input name = "name" type="text" class="form-group" />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <label>Email</label>
            <div class="form-group">
                <input name = "email" type="text" class="form-group" />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <label>Message</label>
            <div class="form-group">
                <textarea name = "msg" type="text" class="form-group"></textarea>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
}*@