@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3>EcoSure - A&A</h3>
    <h4>Form Development tools</h4>
    <p>Welcome to the A&A Suite of internal productivity applications.  Here to make your live easier, we have created a 
    package of apps to expedite the workflow of EcoSure.</p>
</div>