@{
    ViewData["Title"] = "List Of Tools";
}

<div>
    <h3>A&A Apps</h3>
    <ul>
        <li><a asp-controller="EmailEngine" asp-action="Index">MileStone Email Engine</a></li>
        <li><a asp-controller="FormBuilder" asp-action="Index">Form Builder</a></li>
        <li><a asp-controller="HelpText" asp-action="Index">HelpText Creation Kit</a></li>
        <li><a asp-controller="Schedule" asp-action="Index">Schedule Planner</a></li>
    </ul>
</div>
