@model List<string>

<h1>HelpText Tools</h1>

@if (Model.Any())
{
    <ul>
    @foreach (string error in Model)
    {
            <li>@error</li >
    }
    </ul>
}

<form method="post" enctype="multipart/form-data" asp-controller="HelpText" asp-action="DocToZip">
    <div class="form-group">
        <label>Please Upload your .htm HelpText file:</label>
        <input id="DocToZipFiles" class="form-control" type="file" name="files" />
    </div>
    <button id="splitHelpText" type="submit" class="btn btn-primary">Split HelpText</button>
</form>
