@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Form Builder 1.0</h1>
<h2>Setup</h2>
<form method="post" enctype="multipart/form-data" asp-controller="FormBuilder" asp-action="UploadTemplate">
    <div class="row">
        <label>Upload Schedule Tracker Here</label>
        <div class="form-group">
            <input class="row" type="file" name="files" />
        </div>
    </div>
</form>